
:root {
  font-size: 15px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing : border-box;
  font-family: "Arial", sans-serif;
   scroll-behavior: smooth;
}

::-webkit-scrollbar {
  width: 0px;
}

  input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active{
    -webkit-box-shadow: 0 0 0 30px white inset !important;
}

.black-overlay {
  background: linear-gradient(180deg,transparent 0,transparent 55%,rgba(0,0,0,.85) 83.5%,rgba(0,0,0,.95));
}

.background-stripes {
  background : repeating-linear-gradient(45deg, rgba(255, 255, 255, 0.08), rgba(255, 255, 255, 0.08), 2px, transparent 2px, transparent 7px), transparent
}



@tailwind base;
@tailwind components;
@tailwind utilities;